@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');





body{
    font-family: Arial, Helvetica, sans-serif;
    
}

p,ul,ol{
    font-size: 20px;
    line-height: 30px;
    font-style: oblique;
}

ul,ol{
    padding: 0;
    list-style-position: inside;
}

a{
    color: red;
}

a:hover{
    color: blue;
}

a:active{
color: blueviolet;
}

a:visited{
    color: red;
}
p.caption{
    font-size: 16px;
    color: rgb(109, 109, 109);
    font-style: oblique;
    margin: 0;
}
html,body{
    margin: 0;
    padding: 0;
    

}
header{
    text-align: center;
    background-color: goldenrod;
    padding: 0;
   
    
}



header img{
   width: 312px;
    height: 312px;
    border: 22px solid #2d2d27;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: -120px -24px;
    background-size: 210%;
    margin: 0 auto;
} 

H1{
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  margin: 10px 0 20px 0;
  color:#2d2d27;
}

h2{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 20px 0;
     color:#2d2d27;
    
}

@media (max-width: 600px){
    h2{
        font-size: 40px;


    }
}
    


main{
   
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
   
    
}
main img{
   max-width: 100%;
  

}
/* Foorter */
footer{
    background-color: rgb(191, 152, 228);  
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

footer .content{
  max-width: 800px;
  margin: 0 auto;  
 
}

footer a, footer a:visited{
    color: white;
}

footer a:hover{
    color: goldenrod;
}

footer a:active{
color: blueviolet;
}
@media(max-width:600px)
    footer p{
        font-size: 16px;

    }